.Activity {
  height: auto;
  width: 90%;
  border: 5px solid #fdf637;
  border-radius: 5%;
  margin: 1vh auto;
  color: whitesmoke;
}

.activityBlock {
  width: 60%;
  margin: 2vh auto;
  display: grid;
  grid-template-columns: 40% 60%;
  color: whitesmoke;
}

.navButtons {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .Activity {
    width: 95vw;
    height: 33vh;
    color: whitesmoke;
  }
}
