.SignUp {
  background-color: rgb(46, 46, 46);
  height: 90vh;
  width: 100%;
  color: whitesmoke;
}

.map {
  width: 40vw;
  height: 40vh;
}

@media only screen and (max-width: 600px) {
  .SignUp {
    width: 100vw;
    height: 90vh;
    background-color: rgb(46, 46, 46);
  }
  .map {
    width: 95vw;
    height: 65vw;
  }
}
