.SignUpIn {
  background-color: rgb(46, 46, 46);
  height: 90vh;
  width: 100%;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 4vh;
}
.buttonDiv {
  display: flex;
  justify-content: center;
}
.loginButton {
  background-color: #fdf637;
  width: 10vw;
  height: 2vw;
  border-radius: 5%;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

.signupline {
  font-size: 4vh;
}

.signuplink {
  text-decoration: none;
  color: #fdf637;
}

@media only screen and (max-width: 600px) {
  .SignUpIn {
    width: 100vw;
    height: 90vh;
    background-color: rgb(46, 46, 46);
  }
  .loginButton {
    background-color: #fdf637;
    width: 10vh;
    height: 6vh;
    border-radius: 5%;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
  }
}
