.SignUpIn {
  background-color: rgb(46, 46, 46);
  height: 90vh;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .SignUpIn {
    width: 100vw;
    height: 90vh;
    background-color: rgb(46, 46, 46);
  }
}
