.SignUpIn {
  background-color: rgb(85, 45, 122);
  height: 10vh;
}

@media only screen and (max-width: 600px) {
  .SignUpIn {
    width: 100vw;
    height: 10vh;
    background-color: rgb(22, 89, 145);
  }
}
