.LeaguesView {
  background-color: rgb(59, 53, 65);
  height: 10vh;
}

@media only screen and (max-width: 600px) {
  .LeaguesView {
    width: 100vw;
    height: 10vh;
    background-color: rgb(121, 223, 26);
  }
}
