.ContentView {
  min-height: 80vh;
  height: fit-content;
}

.LeaguesView {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .ContentView {
    width: 100vw;
    min-height: 80vh;
    height: fit-content;
  }

  .LeaguesView {
  }
}
