.SelectView {
  background-color: rgb(70, 70, 70);
  width: 60vw;
  height: 80vh;
}

@media only screen and (max-width: 600px) {
  .SelectView {
    width: 100vw;
    height: 80vh;
    background-color: rgb(46, 46, 46);
  }
}
