.ProfileView {
  background-color: rgb(70, 70, 70);
  width: 60vw;
  min-height: 80vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  margin: 2vh auto;
  font-weight: bold;
}

.profileGrid {
  width: 60%;
  justify-content: center;
  display: grid;
  grid-template-columns: 30% 45% 25%;
  grid-template-rows: 20% 20% 20% 20% 20% 20% 20%;
}
.ProfileView button {
  height: 5vh;
  font-size: 2vh;
}
.row {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .ProfileView {
    width: 100vw;
    height: 80vh;
    background-color: rgb(70, 70, 70);
  }
  .profileGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 45% 25%;
    grid-template-rows: 20% 20% 20% 20% 20% 20% 20%;
  }

  .ProfileView button {
    width: 20vw;
  }
}
