.ProfileView {
  background-color: rgb(70, 70, 70);
  width: 60vw;
  min-height: 80vh;
  color: white;
}

.profileGrid {
  display: grid;
  grid-template-columns: 30% 40% 10%;
  grid-template-rows: 20% 20% 20% 20% 20% 20% 20%;
}
.ProfileView button {
  height: 5vh;
  font-size: 2vh;
}
.row {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .ProfileView {
    width: 100vw;
    height: 80vh;
    background-color: rgb(70, 70, 70);
  }
  .ProfileView button {
    width: 20vw;
  }
}
