.EventForm {
  background-color: rgb(218, 113, 183);
  height: 10vh;
}

@media only screen and (max-width: 600px) {
  .EventForm {
    width: 100vw;
    height: 10vh;
    background-color: rgb(201, 194, 97);
  }
}
