.EventsView {
  height: 80vh;
}

.eventContainer {
  display: flex;
  flex-wrap: wrap;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  padding: 50px;
}

.EventsView button {
  background-color: #fdf637;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  font-size: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EventsViewLink {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .EventsView {
    width: 100vw;
    height: 80vh;
  }
  .EventsView button {
    background-color: #fdf637;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    font-size: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
