p {
  color: whitesmoke;
}
.InvitePlayers {
  height: auto;
  width: 90%;
  border: 5px solid #fdf637;
  border-radius: 5%;
  margin: 1vh auto;
  color: whitesmoke;
  overflow: scroll;
}
.playerSelect {
  display: flex;
}

.addRemove {
  width: 5vh;
  height: 5vh;
}
.navButtons {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .InvitePlayers {
    width: 95vw;
    height: 25vh;
    color: whitesmoke;
    overflow: scroll;
  }
}
