.AccountView {
  /* height: 100vh; */
  height: fit-content;
  min-height: 100vh;
}
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 60vw;
}

.link {
  width: 32%;
  height: 8vh;
  background-color: rgb(46, 46, 46);
  border-radius: 5%;
  border: 6px solid gray;
  text-decoration: none;
  color: whitesmoke;
  font-family: "Oswald", sans-serif;
  font-size: 5vh;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .AccountView {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
  }
  .buttonContainer {
    width: 100vw;
  }
  .link {
    width: 32%;
    height: 8vh;
    background-color: rgb(46, 46, 46);
    border-radius: 5%;
    border: 6px solid gray;
    text-decoration: none;
    color: whitesmoke;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
  }
}
