.AccountView {
  height: 100vh;
}
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 60vw;
}
.buttonContainer button {
  width: 32%;
  height: 8vh;
  background-color: rgb(46, 46, 46);
  border-radius: 5%;
  border: 6px solid rgb(208, 255, 0);
}

@media only screen and (max-width: 600px) {
  .AccountView {
    width: 100vw;
    height: 100vh;
  }
  .buttonContainer {
    width: 100vw;
  }
  .buttonContainer button {
  }
}
