.Event {
  height: 33vh;
  width: 45%;
  border: 5px solid #fdf637;
  border-radius: 5%;
  margin: 1vh auto;
}

@media only screen and (max-width: 600px) {
  .Event {
    width: 95vw;
    height: 33vh;
  }
}
