.Event {
  height: max-content;
  width: 45%;
  border: 5px solid #fdf637;
  border-radius: 5%;
  margin: 1vh auto;
  color: whitesmoke;
}

.infoBlock {
  width: 60%;
  margin: 2vh auto;
  display: grid;
  grid-template-columns: 40% 60%;
}

.feedback {
  width: 40%;
  height: auto;
  color: whitesmoke;
  border: 5px solid #fdf637;
  border-radius: 5%;
  background-color: transparent;
  text-decoration: none;
}
.infoButtonContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3vh;
}

.infobutton {
  background-color: transparent;
  color: whitesmoke;
  border: 5px solid #fdf637;
  border-radius: 5%;
  width: 30%;
  font-size: 3vh;
}
.playerList {
  width: 90%;
  margin: 2vh auto;
  display: grid;
  border: 5px solid #fdf637;
  border-radius: 5%;
  padding: 2vh;
  grid-template-columns: 50% 50%;
}

#map {
  width: 90%;
  height: 20vw;
  color: whitesmoke;
  border: 5px solid #fdf637;
  border-radius: 5%;
}
.infoField {
  width: 90%;
  height: auto;
  min-height: 5vh;
  border: 5px solid #fdf637;
  border-radius: 5%;
  margin: 2vh auto;
}

@media only screen and (max-width: 600px) {
  .Event {
    width: 95vw;
    height: 60vh;
    color: whitesmoke;
  }
  #map {
    width: 90vw;
    height: 60vw;

    color: whitesmoke;
    border: 5px solid #fdf637;
    border-radius: 5%;
  }
}
