.LoginView {
  background-color: black;
  height: 100vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .LoginView {
    width: 100vw;
    height: 100vh;
  }
}
