.Invite {
  height: auto;
  width: 45%;
  border: 5px solid #ff092d;
  border-radius: 5%;
  margin: 1vh auto;
  overflow: scroll;
}

.buttons {
  display: flex;
  justify-content: end;
}
.button {
  width: 40%;
  height: auto;
  color: whitesmoke;
  border: 5px solid #ff092d;
  border-radius: 5%;
  background-color: transparent;
}

/* .infobutton {
  background-color: transparent;
  color: whitesmoke;
  border: 5px solid #fdf637;
  border-radius: 5%;
  width: 40%;

  font-size: 3vh;
} */

@media only screen and (max-width: 600px) {
  .Invite {
    width: 95vw;
    height: 33vh;
  }
}
