.chooseLocation {
}

.flex {
  display: flex;
  margin: 2vh auto;
  width: 50%;
}
#map {
  height: auto;
  width: 90%;
  border: 5px solid #fdf637;
  border-radius: 5%;
  margin: 1vh auto;
  color: whitesmoke;
}
.tile {
  height: 1vh;
  width: auto;
  display: none;
}

.navButtons {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .chooseLocation {
  }
  .map {
    width: 95vw;
    height: 33vh;
    color: whitesmoke;
  }
  .tile {
    height: 1vh;
    width: auto;
    display: none;
  }
}
